@media only screen and (max-width:600px){
    body{
        background-color: yellow;
        color:black;
       
    }}

@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap'); 
body{
    background-color: white;
    color: black;
    
    font-family: 'Alexandria', sans-serif;
    
}
input{
    width:100% ;


}

#reg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1{
    text-align: center;
    color: blue;
}
#regform{
color: blue;
font-size: 20px;
}


    #logout,a{
        text-align: center;
    }
    textarea{
        width: 100%;
    }

#sync{
    height: 30px;
}
#welcome{
    color:white;
}